<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.Application"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/img_app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.WearBili"
        tools:targetApi="31">
        <activity
            android:name=".app.splash.ui.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.WearBili">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.login.ui.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".app.main.ui.MainActivity"
            android:exported="false" />
        <activity
            android:name=".app.video.info.ui.VideoInformationActivity"
            android:exported="true" />
        <activity
            android:name=".app.about.ui.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".app.update.ui.UpdateActivity"
            android:exported="false" />
        <activity
            android:name=".app.search.ui.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".app.search.ui.SearchResultActivity"
            android:exported="false" />
    </application>

</manifest>