<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.UPDATE_PACKAGES_WITHOUT_USER_ACTION" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application
        android:name=".app.Application"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/img_app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.WearBili"
        tools:targetApi="31">

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove"></provider>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".app.splash.ui.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.WearBili">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.android.cast.dlna.dmc.DLNACastService" />
        <service
            android:name=".app.player.audio.AudioPlayerService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

        <receiver
            android:name=".app.update.UpdateReceiver"
            android:exported="false" />

        <activity
            android:name=".app.login.qrcode.tv.ui.TVQrCodeLoginActivity"
            android:exported="false" />
        <activity
            android:name=".app.main.ui.MainActivity"
            android:exported="false" />
        <activity
            android:name=".app.video.info.ui.VideoInformationActivity"
            android:exported="true" />
        <activity
            android:name=".app.about.ui.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".app.update.ui.UpdateActivity"
            android:exported="false" />
        <activity
            android:name=".app.search.ui.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".app.search.ui.SearchResultActivity"
            android:exported="false" />
        <activity
            android:name=".app.main.profile.detail.following.ui.FollowingUsersActivity"
            android:exported="false" />
        <activity
            android:name=".app.main.profile.detail.history.ui.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".app.main.profile.detail.watchlater.ui.WatchLaterActivity"
            android:exported="false" />
        <activity
            android:name=".app.main.profile.detail.favorite.folders.ui.FavoriteFolderActivity"
            android:exported="false" />
        <activity
            android:name=".app.player.videoplayer.defaultplayer.Media3PlayerActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@style/Theme.WearBili.Player" />
        <activity
            android:name=".app.settings.toolbar.ui.QuickToolbarCustomizationActivity"
            android:exported="false" />
        <activity
            android:name=".app.crash.ui.CrashActivity"
            android:exported="false"
            android:process=":error_activity">
            <intent-filter>
                <action android:name="com.developer.crashx.ERROR" />
            </intent-filter>
        </activity>
        <!--<activity
            android:name=".app.player.videoplayer.mirroring.dlna.DlnaDeviceDiscoverActivity"
            android:exported="false" />
        <activity
            android:name=".app.player.videoplayer.mirroring.ScreenMirrorActivity"
            android:exported="false" />-->
        <activity
            android:name=".app.bangumi.info.ui.BangumiActivity"
            android:exported="false" />
        <activity
            android:name=".app.settings.ui.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".app.bangumi.index.ui.BangumiIndexActivity"
            android:exported="false" />
        <activity
            android:name=".app.bangumi.timeline.ui.BangumiTimelineActivity"
            android:exported="false" />
        <activity
            android:name=".app.video.action.favourite.ui.VideoFavouriteFoldersActivity"
            android:exported="false" />
        <activity
            android:name=".app.main.profile.detail.favorite.detail.ui.FavouriteFolderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".app.cache.create.ui.CreateNewCacheActivity"
            android:exported="false" />
        <activity
            android:name=".app.cache.list.CacheListActivity"
            android:exported="false" />
        <activity
            android:name=".app.player.audio.AudioPlayerActivity"
            android:exported="true" />
        <!--<activity
            android:name=".app.player.videoplayer.mirroring.dlna.controller.ui.DlnaControllerActivity"
            android:exported="false" />-->
        <activity
            android:name=".app.login.password.ui.PasswordLoginActivity"
            android:exported="false" />
        <activity
            android:name=".app.login.qrcode.web.ui.QrCodeLoginActivity"
            android:exported="false" />
        <activity
            android:name=".app.season.ui.SeasonActivity"
            android:exported="true" />
        <activity
            android:name=".app.image.ImageViewerActivity"
            android:exported="false" />
    </application>

</manifest>